@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


* {
    font-family: 'Rubik Mono One', sans-serif;
    user-select: none;
    color: rgb(179, 80, 0) !important;
    stroke: white 5px !important;
}


html, body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
#container {
    height: 100%;

}

#cookie {

    max-width: 400px !important;
    max-height: auto !important;
    transition: transform 0.4ms ease-in-out !important;
    cursor: pointer !important;
}
#counter {
    font-size: 35px;
    
    
}
.card, cardbody {
    background-color: rgba(0, 0, 0, 0.185) !important;
    border: solid black 1px !important;
}
#shopIcon {
    width: 64px !important;
    height: auto !important;
}
#cookie:active {
    transform: scale(0.9);
}

